
.dc-chart g.row text {
    fill: black;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}                                                      
.info h4 {
  margin: 0 0 5px;
  color: #000;
}                      
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    border: solid 0.5px black;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}
.disabled {
    pointer-events: none;
    background-color: grey;
    border-radius: 5px;
    cursor: default;
    opacity: 0.6;
}

.disabledslider {
    pointer-events: none;
    opacity: 0.4;
}

.disabled > a{
  color: white;
}
.btn-next-form{
  float: right;
}
.btn-previus-form{
  float: left;
}
.tamanho{
  width: 10%;
}
.tamanhoP{
  width: 10%;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

